* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: ‘Segoe UI’, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
}

.menu {
    background-color: rgb(255, 245, 183);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px 20px 60px;
    color: black;
}

.Project-name {
    font-size: 20px;
}

.links {
    display: flex;
    flex-grow: 0.25;
    justify-content: space-between;
}

.wrapper {
    margin-bottom: 40px;
}

/*Styling the home page title header*/

.header {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 20px;
}

.subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 16px;
    text-decoration: black dotted underline;
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

/*For styling the map, chart, and their filters */

.visuals {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

/*Styling the refresh button*/

#refresh-button {
    margin-top: 20px;
    color: rgb(243, 243, 243);
    background-color: rgb(37, 150, 37);
    border: none;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
}

#refresh-button:hover {
    background-color: darkgreen;
}

#refresh-button:active {
    background-color: rgb(0, 54, 0);
}

#refresh-button-alt {
    margin-top: 20px;
    color: rgb(243, 243, 243);
    background-color: rgb(159, 30, 120);
    border: none;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
}

#refresh-button-alt:hover {
    background-color:  rgb(110, 19, 83);
}

#refresh-button-alt:active {
    background-color: rgb(47, 8, 35);
}

/*For the map and the map filter */

#map {
    display: block;
    height: 400px;
    width: 600px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.map-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.map-filters {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
    background-color: lightgreen;
    border-radius: 10px;
    border: 3px outset green;
}

/*For the chart and the chart filter */

.chart {
    display: flex; 
    height: 350px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.chart-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.filter-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: black dotted underline; 
}

.chart-filters {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 25px;
    margin-top: 275px;
    background-color: violet;
    border-radius: 10px;
    border: 3px outset purple;
}

/*For styling paragraphs in the About Page */

.dot {
    text-decoration: underline dotted;
}
.parag {
    margin: 0px 80px 40px 80px;
}

#county-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#county-pic:hover {
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#filter-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#filter-pic-alt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Styles the footer for all pages */

.footer {
    background-color:rgb(252, 215, 82);
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* For small screens like mobile and tablets*/

@media only screen and (max-width: 736px){

    .wrapper {
        margin-bottom: 10px;
    }

    .menu {
        display:block;
        font-size: 15px;
        width: 100%;
    }

    .Project-name {
        display: none;
    }

    .header {
        text-align: center;
    }

    .subtitle {
        margin-bottom: 20px;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .filters {
        margin: 5px;
    }

    .map-filters {
        width: 100%;
        margin-top: 20px;
    }

    .chart-filters {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .visuals {
        display: block;
    }

    #map {
        width: 100%;
        height: 350px;
        margin-bottom: 40px;
    }

    .chart {
        width: 100%;
        
    }

    .parag {
        margin: 0px 48px 40px 48px;
    }

    .footer {
        height: 100%;
    }
}