* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: ‘Segoe UI’, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
}

.menu {
    background-color: rgb(255, 245, 183);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px 20px 60px;
    color: black;
}

.links {
    display: flex;
    flex-grow: 0.25;
    justify-content: space-between;
}

.wrapper {
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.visuals {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#refresh-button {
    margin-top: 20px;
    color: rgb(243, 243, 243);
    background-color: rgb(37, 150, 37);
    border: none;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
}

#refresh-button:hover {
    background-color: darkgreen;
}

#refresh-button:active {
    background-color: rgb(0, 54, 0);
}

#refresh-button-alt {
    margin-top: 20px;
    color: rgb(243, 243, 243);
    background-color: rgb(159, 30, 120);
    border: none;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
}

#refresh-button-alt:hover {
    background-color:  rgb(110, 19, 83);
}

#refresh-button-alt:active {
    background-color: rgb(47, 8, 35);
}

#map {
    display: block;
    height: 400px;
    width: 600px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.map-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.chart {
    display: flex; 
    height: 350px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.chart-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.map-filters {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
    background-color: lightgreen;
    border-radius: 10px;
    border: 3px outset green;
}

.filter-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: black dotted underline; 
}

.chart-filters {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 25px;
    margin-top: 275px;
    background-color: violet;
    border-radius: 10px;
    border: 3px outset purple;
}

.footer {
    background-color:rgb(252, 215, 82);
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}